test/__init__.py
*.pyc
__pycache__/
.idea/
.pytest_cache/

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
lib
lib64

data/*.data
/src/scripts/runs/
/data/*/*.data
/videos/*.mp4

docs/
/notebooks/.ipynb_checkpoints/

/efficient-hrl/.git.backup/
/data-efficient-hrl/logs/
/data-efficient-hrl/.git2/
/bonaert.github.io/
/mjkey.txt
