test/__init__.py
*.pyc
__pycache__/
.idea/
.pytest_cache/

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
lib
lib64

/src/scripts/runs/
/videos/*.mp4

docs/
/notebooks/.ipynb_checkpoints/

/efficient-hrl/.git.backup/
/data-efficient-hrl/logs/
/data-efficient-hrl/.git2/
/bonaert.github.io/
/mjkey.txt
/data-efficient-hrl/results/hiro_EnvWithGoal.npy
/others/
/latex tables/
/advice/
/goodWeights/
